
.opux-g-row.opux-tupas-grid
    .opux-g-col-xs-6.opux-g-col-s-4.opux-tupas-btn
        a(class='opux-tooltip' data-tooltip='OP' href=`${linkToNextPage}`)
            img(src="/images/tupas/op.jpg" class="center")
    <div class="opux-g-col-xs-6 opux-g-col-s-4 opux-tupas-btn">
    <a class="opux-tooltip tupas-disabled" data-tooltip="Nordea" href="https://uusi.op.fi/eai-tupas/eaiTupasForward.do?bank=nordea&amp;origin=https://uusi.op.fi/auth/vakuutukset/ohjaus&amp;cancelurl=/etusivu"><img src="/images/tupas/nordea.gif"></a>
    </div>
    <div class="opux-g-col-xs-6 opux-g-col-s-4 opux-tupas-btn">
    <a class="opux-tooltip tupas-disabled" data-tooltip="Danske Bank" href="https://uusi.op.fi/eai-tupas/eaiTupasForward.do?bank=danske&amp;origin=https://uusi.op.fi/auth/vakuutukset/ohjaus&amp;cancelurl=/etusivu"><img src="/images/tupas/danske.gif"></a></div>
    <div class="opux-g-col-xs-6 opux-g-col-s-4 opux-tupas-btn">
    <a class="opux-tooltip tupas-disabled" data-tooltip="POP Pankki" href="https://uusi.op.fi/eai-tupas/eaiTupasForward.do?bank=pop&amp;origin=https://uusi.op.fi/auth/vakuutukset/ohjaus&amp;cancelurl=/etusivu"><img src="/images/tupas/pop.png"></a></div>
    <div class="opux-g-col-xs-6 opux-g-col-s-4 opux-tupas-btn">
    <a class="opux-tooltip tupas-disabled" data-tooltip="Aktia" href="https://uusi.op.fi/eai-tupas/eaiTupasForward.do?bank=aktia&amp;origin=https://uusi.op.fi/auth/vakuutukset/ohjaus&amp;cancelurl=/etusivu"><img src="/images/tupas/aktia.png"></a></div>
    <div class="opux-g-col-xs-6 opux-g-col-s-4 opux-tupas-btn">
    <a class="opux-tooltip tupas-disabled" data-tooltip="S&amp;auml;&amp;auml;st&amp;ouml;pankki" href="https://uusi.op.fi/eai-tupas/eaiTupasForward.do?bank=saasto&amp;origin=https://uusi.op.fi/auth/vakuutukset/ohjaus&amp;cancelurl=/etusivu"><img src="/images/tupas/saastop.png"></a></div>
    <div class="opux-g-col-xs-6 opux-g-col-s-4 opux-tupas-btn">
    <a class="opux-tooltip tupas-disabled" data-tooltip="&amp;aring;landsbanken" href="https://uusi.op.fi/eai-tupas/eaiTupasForward.do?bank=alands&amp;origin=https://uusi.op.fi/auth/vakuutukset/ohjaus&amp;cancelurl=/etusivu"><img src="/images/tupas/alands.gif"></a></div>
    <div class="opux-g-col-xs-6 opux-g-col-s-4 opux-tupas-btn">
    <a class="opux-tooltip tupas-disabled" data-tooltip="Handelsbanken" href="https://uusi.op.fi/eai-tupas/eaiTupasForward.do?bank=handels&amp;origin=https://uusi.op.fi/auth/vakuutukset/ohjaus&amp;cancelurl=/etusivu"><img src="/images/tupas/handelsbanken.gif"></a></div>
    <div class="opux-g-col-xs-6 opux-g-col-s-4 opux-tupas-btn">
    <a class="opux-tooltip tupas-disabled" data-tooltip="S-Pankki" href="https://uusi.op.fi/eai-tupas/eaiTupasForward.do?bank=spankki&amp;origin=https://uusi.op.fi/auth/vakuutukset/ohjaus&amp;cancelurl=/etusivu"><img src="/images/tupas/s-pankki.png"></a></div>
