extends layout

block content
  h2 #{tppName}
  if env != 'prod' && env != 'psd2-sandbox'
    .container-flex-start.opux-alert-notification
      i(class='opux-icon opux-icon-alert')
      if env == 'psd2-sandbox-prod'
        span(class='mXS-top truncate-container') You can choose one of our test users for PSD2 Sandbox prod environment 88888881 / 88888882

  form(method='post' action=`/cof/createAuthorization` id='loginForm')

    .buttons
      p
      p Press the button to continue
      button(type='submit' id='submit' class='opux-btn opux-btn-primary' onclick='javascript:document.body.classList.add(\'in-progress\')') Proceed to authorization

    h3 Select authorization targets

    .container-flex-start.opux-alert-notification
      i(class='opux-icon opux-icon-alert')
      span(class='mXS-top truncate-container') These options are not displayed to end users in real-life applications. They demonstrate different technical options TPP's have available.

    h3 IBAN of the account that you want to authorize for confirmation of funds (Optional)
    p
      input(type='text' value=initialIban name='cofIban' id='cofIban' form='loginForm')
      label(for='cofIban') CofIban

    h3 Date when authorization will expire, cannot be more than one year (Optional)
    p
      input(type='text' value=initialExpires name='cofExpires' id='cofExpires' form='loginForm')
      label(for='cofExpires') Expires

    .opux-loading
