extends layout

block content
  h2 #{tppName}
  if env != 'prod' && env != 'psd2-sandbox' && env != 'cloudauthprod'
    .container-flex-start.opux-alert-notification
      i(class='opux-icon opux-icon-alert')
      if env == 'psd2-sandbox-prod'
        span(class='mXS-top truncate-container') You can choose one of our test users for PSD2 Sandbox prod environment 88888881 / 88888882

      else
        span Press the button to continue
  form(method='post' action=`/accounts/createAuthorization` id='loginForm')

    .buttons
      button(type='submit' id='submit' class='opux-btn opux-btn-primary' onclick='javascript:document.body.classList.add(\'in-progress\')') Proceed to authorization

    h3 Select authorization targets

    .container-flex-start.opux-alert-notification
      i(class='opux-icon opux-icon-alert')
      span(class='mXS-top truncate-container') These options are <b>not displayed</b> to end users in real-life applications. They demonstrate different technical options TPP's have available.

    h3 Try out transaction range authorization (Checking TransactionRange causes authorization days to be ignored)
    p
      input(type='checkbox' name='TransactionRange' id='TransactionRange' form='loginForm')
      label(for='TransactionRange') TransactionRange

    p
      input(type='text' value=initialRangeStart name='TransactionRangeFrom' id='TransactionRangeFrom' form='loginForm')
      label(for='TransactionRangeFrom') TransactionRangeFrom

    p
      input(type='text' value=initialRangeEnd name='TransactionRangeTo' id='TransactionRangeTo' form='loginForm')
      label(for='TransactionRangeTo') TransactionRangeTo

    h3 How long is the authorization valid (This value is ignored if TransactionRange is selected)
    select(name='authorizationDays' class='opux-input-select' form='loginForm')
        option(value='1') One day
        option(value='7') One week
        option(value='14') Two weeks
        option(value='30') One month
        option(value='90' selected) Three months
        option(value='120') 120 days (invalid)

    .opux-loading
