extends layout

block content
  .opux-loading

  .page-header
    h2 Card information for #{cardNumber}
    p
      a(href=`${transactionsLink}` class='link' onclick='javascript:document.body.classList.add(\'in-progress\')') ⇐ Back to transactions
    .bordered-list-container
        each val, index in card
          .opux-form-group.container-data-row.data-row
            .opux-g-col-xs-4.opux-g-col-s-4.col-xxs
              span(class='label') #{val.name}
            div(class='opux-g-col-xs-8 opux-g-col-s-8 col-xxs' style='overflow: hidden')
              span #{val.value}
