extends layout

block content
  .opux-g-container
    h3 Select the payment type.

    p
      <a class="opux-tooltip" data-tooltip="Sepa payment" href="/payments/begin-authorize">SEPA Payment</a>
    p
      <a class="opux-tooltip" data-tooltip="Foreign payment" href="/payments/begin-authorize-foreign-payment">Foreign Payment</a>
